.content_form {
    display: contents;
}
.contentInput {
    background-color: white;
    border-radius: 10px;
    height: 530px;
    box-shadow: 0 9px #4d48484a;
}
.contentInput input {
    width: 89%;
    margin: 17px;
    height: 56px;
    border-radius: 7px;
    border: solid 1px #23202026
}
.contentInput input::placeholder {
  font-size: 16px;
  padding: 17px;
}
.policies{
    text-align: center;
    padding: 0px 19px;
    margin: 0 10px;
    font-size: 15px;
    color: hsl(246, 25%, 77%);
    line-height: 25px;

    
}
.go{
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    font-weight: 600;

}



@media (min-width: 1240px) {
    
}