.press {
    width: 100%;
    border-radius: 10px;
    background-color: hsl(248, 32%, 49%);
    height: 87px;
}
.bond{
    color: white;
    margin: 0 57px;
    font-size: 15px;
    letter-spacing: 2px;

}