.header{
   color: white;
   
}


.first_Tittle{
   text-align: center;
   font-size: 29.5px;
   font-weight: 700;
   margin-top: 12px;
   line-height: 38px;
}

.first_Tittle::first-letter {
   font-size: 30px;
   text-transform: uppercase;
  
 
}
.last_Tittle {
   text-align: center;
    font-size: 18px;
    margin: 22px 3px;
}
.last_Tittle::first-letter{
   text-transform: uppercase;
}
