.free_trial{
    width: 89%;
}
.press2{
    width: 100%;
    height: 56px;
    border-radius: 7px;
    border: solid 1px #23202026;
    background-color:  hsl(154, 59%, 51%);
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
}


@media (min-width: 1440px) {
    .press2{
        width: 89%;
    }
}