.container {
    display: flex;
    font-family: "Poppins";
    flex-direction: column;
    margin: 20% 7%;
    height: 700px;
    font-family: system-ui;
}


@media (min-width: 1440px) {
    .container{
        flex-direction: row;
        margin: 8%;
        text-align: center;
    }
    .container div {
        width: 100%;
    }
}



